@model IEnumerable<Cuenta>
@{
	ViewData["Title"]="Cuentas";
}

<h1>Cuentas</h1>

<a asp-action="Crear" class="btn btn-primery mb-3"></a>

<table class="table">

<thead>
	<tr>
		<th scope="col">Banco</th>
		<th scope="col">Numero Cuenta</th>
		<th scope="col">Tipo Cuenta</th>
		<th scope="col">Usuario</th>
		<th scope="col">Fecha Creación</th>
		<th scope="col">Fecha Fin</th>
		<th scope="col">Estado</th>
		
		
	</tr>
</thead>
<tbody>
		@foreach (var cuenta in Model)
		{
			<tr>
				<td>@cuenta.NombreBanco</td>
				<td>@cuenta.NumeroCuenta</td>
				<td>@cuenta.TipoCuenta</td>
				<td>@cuenta.CorreoUsuario</td>
				<td>@cuenta.FechaCreacion</td>
				<td>@cuenta.FechaFin</td>
				<td>
					@if (cuenta.Estado == 1)
					{
						<label class="badge badge-success">Activo</label>
					}
					else if (cuenta.Estado == 2)
					{
						<label class="badge badge-danger">Desactivo</label>
					}
				</td>
				
			</tr>
		}
	</tbody>
</table>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
