@model PaginacionRespuesta<Operacion>
@{
	ViewData["Title"] = "Solicitudes Pendientes";
}


<h1>Solicitudes Pendientes</h1>

<div class="row">


<div class="col-2">
@*<a asp-action="Crear" class="btn btn-primary mb-3">Crear</a>*@
</div>
<div class="col">
		<partial name="_paginacion" />
</div>

	<div class="col-2">

	@using(Html.BeginForm("Index","Operaciones", FormMethod.Get)){
			<table >
				<tr>
					<td>
						@Html.TextBox("SearchValue", null,new{Class="form-control", placeholder="search"})
					</td>
					<td>&nbsp;</td>
					<td>
						<input type="submit" value= "Search" class="btn btn-success">
					</td>
				</tr>
			</table>
	}
		
</div>
</div>


@*@if (TempData["AlertForBlock"] != null)
{
	<div class="alert alert-warning">
		<strong> Blocked! </strong>	@TempData["AlertForBlock"]
	</div>
}*@


<div class="table-responsive">
<table class="table table-striped">

<thead>
	<tr>
				<th scope="col" style="text-align: center" class="col-1">Id</th>
				<th scope="col" style="text-align: center" class="col-1">Nombre Producto</th>
				<th scope="col" style="text-align: center" class="col-1">Cant.</th>
@*				<th scope="col" style="text-align: center" class="col-1">Precio</th>*@
				<th scope="col" style="text-align: center" class="col-1">Total</th>
				<th scope="col" style="text-align: center" class="col-3">Desc.</th>
				<th scope="col" style="text-align: center" class="col-1">Colaborador</th>
				<th scope="col" style="text-align: center" class="col-1">Comprobante</th>
				<th scope="col" style="text-align: center" class="col-1">Fecha Compra</th>
				<th scope="col" style="text-align: center" class="col-1">Fecha Creación</th>
				<th style="text-align: center" class="col-1" scope="col">Estado</th>
				<th scope="col" style="text-align: center" class="col-1">Acción</th>
		
	</tr>
</thead>
<tbody>
		@foreach (var operacion in Model.Elementos)
		{
			<tr>
					<td style="text-align: center" class="col-1">@operacion.Id</td>
					<td style="text-align: center" class="col-1">@operacion.NombreProducto</td>
					<td style="text-align: center" class="col-1">@operacion.Cantidad</td>
@*					<td style="text-align: center" type="currency"> @string.Format("{0:c0}",@operacion.Precio ) </td>*@
					<td style="text-align: center" type="currency">  @string.Format("{0:c0}",@operacion.TotalCosto ) </td>
					<td style="text-align: center" class="col-3">
						@if (operacion.Descripcion.Length>=50)
						{

							<p data-toggle="tooltip" data-placement="bottom" title="@operacion.Descripcion">	
								@operacion.Descripcion.Substring(0, 50)...
							</p>
							
							
						}else{
							@operacion.Descripcion
						}
					
					</td>
					<td style="text-align: center" class="col-1">@operacion.CorreoUsuario.Substring(0,operacion.CorreoUsuario.IndexOf("@"))</td>
				@*<td>
					<img src="@operacion.UrlDocumento" class="img-fluid" width="40" height="40" asp-append-version="true" />
				
				</td>*@
					<td style="text-align: center" class="col-1">
						@if (string.IsNullOrEmpty(operacion.UrlDocumento))
						{
							<p>No hay comprobante</p>
						}else{
							

						<a href="@Url.Content(operacion.UrlDocumento)">
							<i class="bi bi-images"></i>
						</a>
						}

						
						</td>
					<td style="text-align: center" class="col-1">@operacion.FechaCompra.ToShortDateString()</td>
					<td style="text-align: center" class="col-1">@operacion.FechaCreacion.ToShortDateString()</td>

					<td class="col-1" style="text-align: center">
						@if (operacion.Estado == 3)
						{
							<label class="badge badge-warning mb-3">Pendiente</label>
						}
						
						else if (operacion.Estado == 5)
						{

							<label class="badge badge-info mb-3">Reactivada</label>
							<br />
							<a class="btn btn-link btn-sm" asp-action="Reactivaciones" asp-route-Id="@operacion.Id">Reactivaciones</a>

						}
						else if (operacion.Estado == 4)
						{
							<label class="badge badge-secondary mb-3">Objetada</label>

						}

					</td>

					<td style="text-align: center" class="col-1">
						<span>
						
					@if (User.IsInRole("GastosReembolsablesAdmin") && operacion.Estado==3) 
						
						{
							<div><a class="btn-primary btn" asp-action="Procesar" asp-route-Id="@operacion.Id"  >
								<i class=" bi bi-clipboard-check"
								   data-toggle="tooltip" data-placement="left" title="Procesar"></i>
							</a></div>
							
							@*<a class="btn-primary btn" asp-action="Aprobar" asp-route-Id="@operacion.Id">
								<i class=" bi bi-clipboard-check"></i>
							</a>
							<a class="btn-info btn" asp-action="GenerateSolicitudExcelForm" asp-route-Id="@operacion.Id">
								<i class="bi bi-file-excel"></i>
							</a>
							<a class="btn-danger btn" asp-action="Rechazar" asp-route-Id="@operacion.Id">
								<i class="bi bi-clipboard-x"></i>
							</a>*@
						}
						else if (User.IsInRole("GeneralUser")) 
						{
							<a class="btn-primary btn" asp-action="Editar" asp-route-Id="@operacion.Id">
								<i class="bi-pencil-fill"
							   data-toggle="tooltip" data-placement="left" title="Editar"></i>
							</a>
							<a class="btn-secondary btn" asp-action="Borrar" asp-route-Id="@operacion.Id">
								<i class="bi-trash-fill"
							   data-toggle="tooltip" data-placement="left" title="Borrar"></i>
							</a>
						}
					
				</span></td>
			</tr>
		}
	</tbody>
</table>
</div>

