@model PaginacionRespuesta<Sumatorio>
@{
	ViewData["Title"] = "Resumen Del Usuario";
	
}

<h1>Resumen de Solicitudes Pendientes</h1>
<div class="row ">


	<div class="col"><partial name="_paginacion" /></div>
@*<div class="col-2">

	@using(Html.BeginForm("Historia","Operaciones", FormMethod.Get)){
			<table >
				<tr>
					<td>
						@Html.TextBox("SearchValue", null,new{Class="form-control", placeholder="search"})
					</td>
					<td>&nbsp;</td>
					<td>
						<input type="submit" value="Search" class="btn btn-success"/>
					</td>
				</tr>
			</table>
	}
		
</div>*@

</div>

      
<div class="table-responsive">
<table class="table table-striped" id="resumenColaboradorPendiente">
	
<thead>
	<tr>
	@*	<th style="text-align: center" scope="col" class="col col-md-2">Id</th>*@
		<th style="text-align: center" scope="col" class="col col-md-2">Periodo</th>
		<th style="text-align: center" scope="col" class="col col-md-2">Producto</th>
				<th style="text-align: center" scope="col" class="col col-md-2">Estado</th>
		<th style="text-align: center" scope="col" class="col col-md-2">Total</th>
		<th style="text-align: center" scope="col" class="col col-md-2"></th>
		
		
		
	</tr>
</thead>
<tbody>
		@foreach (var sumatorio in Model.Elementos)
		{
			
				@if (sumatorio.Total>0)
				{
					<tr>
	@*			<td style="text-align: center" scope="col" class="col col-md-2">@sumatorio.Id</td>*@
				<td style="text-align: center" scope="col" class="col col-md-2">@sumatorio.YearMonth</td>
				<td style="text-align: center" scope="col" class="col col-md-2">@sumatorio.NombreProducto</td>
				<th style="text-align: center" scope="col" class="col col-md-2">
							@if (sumatorio.Estado==3)
							{
								<label class="badge badge-warning mb-3">Pendiente</label>
							}
							else if (sumatorio.Estado == 4)
							{
								<label class="badge badge-secondary mb-3">Objetada</label>
							}
							else if (sumatorio.Estado == 5)
							{
								<label class="badge badge-info mb-3">Reactivada</label>
							}
							
					
					</th>
				<td style="text-align: center" class="col col-md-2" type="currency"> @string.Format("{0:c0}",sumatorio.Total )</td>
				<th style="text-align: center" scope="col" class="col col-md-2"></th>
										
					</tr>
					
				}
				
		}
			
	</tbody>
		<tfoot>
			
		<th style="text-align: center" scope="col" class="col col-md-2"  scope="row">Total</th>
@*		<td style="text-align: center" scope="col" class="col col-md-2"></td>*@
		<td style="text-align: center" scope="col" class="col col-md-2"></td>
		<td style="text-align: center" scope="col" class="col col-md-2"></td>
		<td style="text-align: center" scope="col" class="col col-md-2" >
		<strong>	
			@string.Format("{0:c0}",Model.Elementos.Sum(i => i.Total) )
			</strong>
		</td>
		</tfoot>
</table>
</div>

</div>

<script>

	$(document).ready(function () {
		$('#resumenColaboradorPendiente').DataTable({
        scrollY: '100px',
        scrollCollapse: true,
        paging: false,
    });
});
</script>